/* Dashboard.module.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.dashboardContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to top, #0f172a 0%, #1e293b 100%);
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    min-height: 100vh;
}

.serverStatus {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #252935;
    border-radius: 4px;
    text-align: center;
    width: 100%;
    max-width: 600px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.actionButton {
    margin: 10px;
    padding: 10px 15px;
    background-color: #4F76F6;
    color: #dadada;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.smallButton{
    margin: 10px;
    padding: 10px 15px;
    background-color: #4F76F6;
    color: #dadada;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);

}

.editableInput{
    padding: 5px;
    margin-left: 10px;
    color: grey;
}

.actionButton:hover, .smallButton:hover{
    background-color: #166bf1;
}

.domainsList {
    list-style: none;
    padding: 15px;
    width: 100%;
    max-width: 600px;
    background-color: #252935;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.domainItem {
    padding: 15px 15px;
    margin: 10px;
    background-color: #3A3F4B;
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

.domainItem span{
    margin-left: 12px;
    flex: 0;
}

.editableInput {
    margin-right: clamp(10vw,100px,14vw);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.pagination button:hover:not(:disabled) {
    background-color: #0056b3;
}

.pagination span {
    font-size: 16px;
    margin: 0 10px;
}
